.google-search {
  font-family: var(--main-font);
  min-height: 100vh;
  min-width: 100vw;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}

.goggles-container {
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 20%;
  position: fixed;
}

.goggles-container span {
  font-size: 80px;
  font-weight: 600;
  margin-bottom: 40px;
  cursor: context-menu;
}

.goggles-container span .blue-label {
  color: #4285f4;
}

.goggles-container span .red-label {
  color: #ea4335;
}

.goggles-container span .yellow-label {
  color: #fbbc05;
}

.goggles-container span .green-label {
  color: #34a853;
}

.goggles-container .goggles-search-bar {
  width: 80%;
  border-radius: 25px;
  -moz-box-shadow: 0 0 5px rgb(187, 183, 183);
  -webkit-box-shadow: 0 0 5px rgb(7, 4, 4);
  box-shadow: 0 0 5px rgb(187, 183, 183);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
  gap: 30px;
  margin-bottom: 30px;
}

.goggles-search-bar i {
  font-size: 15px;
  color: rgb(100, 98, 98);
}

.goggles-search-bar .typewriter h1 {
  font-weight: 600;
  font-size: 18px;
  overflow: hidden;
  border-right: 0.15em solid #000;
  white-space: nowrap;
  margin: 0;
  margin-right: auto;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #000;
  }
}

.goggles-search-bar img {
  width: 11px;
  margin-left: auto;
}

.websites-list {
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.websites-list .list-tem-container {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  height: 110px;
  border-radius: 5px;
}

.websites-list .list-tem-container:hover {
  background-color: #e8e8e9;
}

.websites-list .circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #050505;
  background-color: #f1f3f4;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.websites-list .circle-container i {
  font-size: 24px;
}

.websites-list .circle-container img {
  width: 24px;
}

.websites-list .linkeIn {
  color: #0a66c2;
}

.websites-list .github {
  color: #24292e;
}

.websites-list .cloud_download {
  color: #74c0fc;
}
