:root {
  --main-font: "Roboto", sans-serif;
}

.pop-up-info {
  font-family: var(--main-font);
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: red;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
